.backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    animation: modal-animation 0.5s;
}

.modal {
    position: absolute;
    z-index: 110;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    width: 40vw;
    max-width: 600px;
    min-width: 400px;
    animation: modal-animation 0.5s;

    &__head {
        padding: 1.5rem;
        background-image: linear-gradient(to bottom right, #398fc7, #2ca340);
        color: white;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &__content {
        padding: 1.5rem;
        text-align: center;
    }

    &__button {
        padding: 1.5rem;
        padding-top: 0;
        display: flex;
        justify-content: center;

        &--child {
            margin-right: 1rem;
            background: #0d315c;

            &:hover {
                background: darken(#0d315c, 5%);
            }

            &:last-child {
                margin-right: 0;
                background: white;
                color: #0d315c;
                border: 1px solid #0d315c;
            }
        }
    }
}

@keyframes modal-animation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
