.leftContainer {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: min-content;
    position: fixed;

    &__details{
        padding: 0 5%;
    }

    > label{
        padding: 0 5%; 
    }
}