.rightContainer {
    display: flex;
    flex-direction: column;
    margin: 0 3%;
    width: 18%;
    position: fixed;
    right: 0;

    &__desc {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            max-height: 80px;
        }
    }
}